

h1,h2,h3,h4,h5,h6,small,p,ul,ol,button{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;}
   a{
    text-decoration: none;
   }
/*Common Css*/


#nav{
    background-color: #02918c; 
}
#nav ul li a{
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    padding: 20px 20px;
    text-transform: uppercase;
    transition: .6s;
    
}
#nav ul li:hover > a{
    color: white;
    background-color: #c3e282;
    
}
#nav ul li ul{background: none;}
#nav ul li:hover ul{
    background-color: #02918c;
}

#nav ul li ul li:hover a{
 color: black;
}
/*Banner Section Start*/
#banner{
    background-image: url(../image/mywork.jpg);
height: 730px;
background-size: cover;
background-position: center;
position: relative;
z-index: 1;
}

#banner::after{
    content: '';
    position: absolute;
    background-color: black;
   inset: 0;
   opacity: .6;
   z-index: -1;

}
#banner .bannercontent img{
    display: block;
    margin: 50px auto;
}
#banner .bannercontent a{
    padding: 21px 42px;
    background-color: #cfc91d;
    text-decoration: none;
    color: #0b1016;
    font-size: 14px;
    font-weight: 800;
}
#banner .bannercontent h3{
    font-weight: 400;
    font-size: 30px;
    color: white;
    
    }
      #banner .bannercontent h1{
        font-size: 68px;
        font-weight: 800;
        color: white;
        letter-spacing: 30px;
        text-transform: uppercase;}
    
      #banner .bannercontent p{
        font-weight: 400;
        font-size: 18px;
        color: white;
      }

      /*About Section Start*/
      #about{
        padding: 50px 0;
      }
      #about .about_content h2{
        font-size: 46px;
        color: #02918c;
        font-weight: 800;
    }
    #about .about_content p{
        font-size: 16;
        font-weight: 400;
        color: #7e8287;
        line-height: 41px;
        margin: auto;
    }
    #about .about_content p b{
        font-weight: 800;
    }
    /*About Item Step Start*/
    #about .about_item{
        padding: 20px 0;
    }
    #about .about_item i{
    font-size: 40px;
    color: #02918c;
    padding-bottom: 10px;
    }
    .about_item h3{
        font-weight: 800;
        font-size: 16px;
        color: #7e8287;
    
    }
    .about_item h6{
        font-size: 11px;
        font-weight: 400;
        color: #7e8287;
    }
    .about_item .item{
        border-right: .1px solid #02918c;
    }
    #about .about_item .item:last-child{
        border: 0;
    }
    .item{
       padding: 30px 50px;
       width: 22%;
       margin-bottom: 3%;
    }
/*SErvice Section Start*/
#service{
    background: url(../image/MYFOLIO\ \(1\).jpg);
    height: 728px;
    background-repeat: no-repeat;
    background-position: center;
  
   background-size: cover;
   padding: 6%;
}
#service .left_content h2{
    font-size: 46px;
    color: #02918c;
    font-weight: 800;
    text-transform: uppercase;

}
#service .left_content p{
    font-size: 16;
    font-weight: 400;
    color: #7e8287;
    line-height: 41px;
    width: 500px;
}
.service_item{
    margin-top: 7%;
}
.service_item h3{
    font-weight: 800;
    font-size: 16px;
    color: #7e8287;

}
.service_item h6{
    font-size: 11px;
    font-weight: 400;
    color: #7e8287;
}
.s_item{
   margin-bottom: 6%;
   
}
.s_item i{
    color: #02918c;
    margin: 10px 0;
    font-size: 40px;
}
/*Service section end*/

/*My Work Section Start*/
#my_work .work_info{
    padding: 6% 0;
}
#my_work .work_info h2{
    font-size: 46px;
    color: #02918c;
    font-weight: 800;
    text-transform: uppercase;
}
#my_work .work_info p{
    font-size: 16px;
    font-weight: 400;
    color: #7e8287;
    
}
.my_work_img img{
 width: 100%;
 height: 100%;
}

#my_work .my_work_img .img_item {
    position: relative;
  }
  #my_work .my_work_img .img_item h3,
  #my_work .my_work_img .img_item p{
    color: white;
   text-transform: capitalize;
  font-size: 16px;
  }
  #my_work .my_work_img .img_item h3{
    font-weight: 800;
  }
  #my_work .my_work_img .overlay {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 27px;
    right: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(2, 145, 139, 0.85);
     transform: scaleX(0);
     transition: .5s;
     transform-origin: right;
     padding: 12px;}
     #my_work .img_item:hover .overlay{
        transform-origin: right;
        transform: scaleX(1);
     }

/*My Work Section end*/


/*Form Section Start*/
button{
    padding: 12px 20px;
    background-color: #c2bb30;
    border: none;
    transition: .4s;
}
button:hover{
    background-color: #80efd5;
}
#information_form{
background-color: #0a0a0b;
}

#information_form .form_info input,
#information_form .form_info textarea{
   background: none;
   padding: 20px 0;
   margin: 15px 0;
   color: #7e8287;
   text-align: center;
   border: none;
   border-bottom: solid 1px #7e8287;
  
}

#information_form .form_info input:focus,
#information_form .form_info textarea:focus {
    outline:0;
    border-color: #c2bb30;
}
#information_form .form_info textarea{
    resize: none;
}

#information_form .form_info input::placeholder,
#information_form .form_info textarea::placeholder{
   text-transform: uppercase;
}
/*Form Section End*/

/*Footer Section Start*/

#last_section h3{
    color: #7e8287;
}

    
